<div class="row">
  <div class="col-md-6 p-5 lead" style="height: 90vh; overflow: auto">
    <div [innerHTML]="problem.problemDescription"></div>
    <div [innerHTML]="problem.functionDescription"></div>
    <div [innerHTML]="problem.returns"></div>
    <div [innerHTML]="problem.inputFormat"></div>
    <div [innerHTML]="problem.sampleInput"></div>
    <div [innerHTML]="problem.sampleOutput"></div>
    <div [innerHTML]="problem.explanation"></div>
  </div>
  <div class="col-md-6">
    <ngx-codemirror
      [options]="codeMirrorOptions"
      [(ngModel)]="query"
      (ngModelChange)="setEditorContent($event)">
    </ngx-codemirror>
    <button (click)="submit()" type="button" class="btn btn-primary mt-2 mb-2 me-1" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
      Submit
    </button>
    <span>Use CTRL + Space for autocomplete</span>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger">Passed 4/5</h5>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a data-bs-toggle="collapse" href="#multiCollapse1" role="button">Test case 1</a>
                <span class="badge bg-success rounded-pill">&checkmark;</span>
              </li>
              <div class="collapse multi-collapse" id="multiCollapse1">
                <div class="card card-body">
                  <p>Input:</p>
                  <p>5 4<br/>1 2 3 4 5</p>
                  <div class="row">

                    <div class="col">
                      <p>Expected:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                    <div class="col">
                      <p>Got:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                  </div>
                </div>
              </div>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a data-bs-toggle="collapse" href="#multiCollapse2" role="button">Test case 2</a>
                <span class="badge bg-success rounded-pill">&checkmark;</span>
              </li>
              <div class="collapse multi-collapse" id="multiCollapse2">
                <div class="card card-body">
                  <p>Input:</p>
                  <p>5 4<br/>1 2 3 4 5</p>
                  <div class="row">

                    <div class="col">
                      <p>Expected:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                    <div class="col">
                      <p>Got:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                  </div>
                </div>
              </div>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a data-bs-toggle="collapse" href="#multiCollapse3" role="button">Test case 3</a>
                <span class="badge bg-success rounded-pill">&checkmark;</span>
              </li>
              <div class="collapse multi-collapse" id="multiCollapse3">
                <div class="card card-body">
                  <p>Input:</p>
                  <p>5 4<br/>1 2 3 4 5</p>
                  <div class="row">

                    <div class="col">
                      <p>Expected:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                    <div class="col">
                      <p>Got:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                  </div>
                </div>
              </div>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a data-bs-toggle="collapse" href="#multiCollapse4" role="button">Test case 4</a>
                <span class="badge bg-danger rounded-pill">&cross;</span>
              </li>
              <div class="collapse multi-collapse" id="multiCollapse4">
                <div class="card card-body">
                  <p>Input:</p>
                  <p>5 4<br/>1 2 3 4 5</p>
                  <div class="row">

                    <div class="col">
                      <p>Expected:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                    <div class="col">
                      <p>Got:</p>
                      <p>[4,5,1,2,3]</p>
                    </div>
                  </div>
                </div>
              </div>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a data-bs-toggle="collapse" href="#multiCollapse5" role="button" aria-expanded="false" aria-controls="multiCollapse5">Test case 5</a>
                <span class="badge bg-success rounded-pill">&checkmark;</span>
              </li>
              <div class="collapse multi-collapse" id="multiCollapse5">
                <div class="card card-body">
                  <p>Input:</p>
                  <p>5 4<br/>1 2 3 4 5</p>
                  <div class="row">

                    <div class="col">
                      <p>Expected:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                    <div class="col">
                      <p>Got:</p>
                      <p>[5,1,2,3,4]</p>
                    </div>
                  </div>
                </div>
              </div>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
