<div class="background" style="">
  <div class="container  p-3">
    <div class="col-md-12" style="">
      <div class="">
        <div class="textarea-container">
          <textarea class="form-control" rows="3" placeholder="Use <code></code> blocks for code comment"
                    [ngClass]="previewBtn ? 'no-bottom-border' : ''" [formControl]="commentInput"></textarea>
          <div class="form-control" [style]="previewBtn ? '' : 'opacity: 0'">
            <button class="btn btn-sm" [disabled]="!previewBtn" (click)="open(content)" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Preview
            </button>
          </div>
        </div>
        <div class="mt-3 mb-2 clearfix">
          <button class="btn btn-sm btn-primary float-end" (click)="share()"><i class="fa fa-pencil fa-fw"></i>Share
          </button>
        </div>
        <!--        Sort by:-->
        <!--        <select class="form-select">-->
        <!--          <option selected>By up votes</option>-->
        <!--          <option>By date</option>-->
        <!--        </select>-->
        <div class="card mt-2 p-3" style="opacity: 0.98" *ngFor="let comment of comments; index as i">
          <div class="d-flex justify-content-between align-items-center">
            <div class="user d-flex flex-row align-items-center">
              <span><small class="font-weight-bold text-primary">{{comment.from}}</small></span>
            </div>
            <small>{{comment.date | date: 'short'}}</small>
          </div>
          <div class="mt-1">
            <ngx-dynamic-hooks [content]="comment.content"></ngx-dynamic-hooks>
          </div>
          <div class="d-flex justify-content-between mt-2 align-items-center">
            <a class="reply text-decoration-none" (click)="toggleReply(i)"><small>Reply</small></a>
            <div class="btn-group">
              <a class="btn btn-sm btn-hover-success"
                 [ngClass]="comment.isLiked ? 'active' : ''"><span>{{comment.likes}} - </span><i
                class="fa fa-thumbs-up"></i></a>
              <a class="btn btn-sm btn-hover-danger" [ngClass]="comment.isDisliked ? 'active' : ''"><i
                class="fa fa-thumbs-down"></i></a>
            </div>
          </div>
          <div class="d-flex flex-column align-items-end mt-3">
            <div class="textarea-container w-75" *ngIf="showReply[i]">
          <textarea class="form-control" rows="3" placeholder="What are you thinking?"
                    [ngClass]="previewBtn ? 'no-bottom-border' : ''" [formControl]="commentInput"></textarea>
              <div class="form-control" [style]="previewBtn ? '' : 'opacity: 0'">
                <button class="btn btn-sm" [disabled]="!previewBtn" (click)="open(content)">Preview</button>
              </div>
            </div>
            <div class="mt-2 clearfix" *ngIf="showReply[i]">
              <button class="btn btn-sm btn-primary float-end" (click)="replyToComments(comment.id, i)"><i
                class="fa fa-pencil fa-fw"></i> Reply
              </button>
            </div>
            <div class="card mt-2 p-3 w-75" *ngFor="let reply of comment.replies">
              <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                  <span><small class="font-weight-bold text-primary">{{reply.from}}</small></span>
                </div>
                <small>{{reply.date | date: 'short'}}</small>
              </div>
              <div class="mt-1">
                <ngx-dynamic-hooks [content]="reply.content"></ngx-dynamic-hooks>
              </div>
              <div class="d-flex justify-content-between mt-2 align-items-center">
                <div></div>
                <div class="btn-group">
                  <a class="btn btn-sm btn-default btn-hover-success"
                     [ngClass]="reply.isLiked ? 'active' : ''">{{reply.likes}} - <i
                    class="fa fa-thumbs-up"></i></a>
                  <a class="btn btn-sm btn-default btn-hover-danger" [ngClass]="reply.isDisliked ? 'active' : ''">
                    <i class="fa fa-thumbs-down"></i></a>
                </div>
              </div>
            </div>
          </div>
          <a class="reply text-decoration-none w-100 text-center mt-2"><small>View more</small></a>
        </div>
        <button class="btn btn-primary w-100 mt-3 mb-2 text-center"><small>View more</small></button>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Preview</h5>
  </div>
  <div class="modal-body">
    <ngx-dynamic-hooks [content]="preview"></ngx-dynamic-hooks>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
